In [2]:
import json
import pandas as pd
import numpy as np
import re
from datetime import datetime

In [3]:
file_path = "/Users/alyssanguyen/Desktop/IRLE_scraping/csv_files/final_ca_fullserv.csv"
ca_ff = pd.read_csv(file_path)
file_path_2 = "/Users/alyssanguyen/Desktop/IRLE_scraping/csv_files/uszips.csv"
ca_zip_count = pd.read_csv(file_path_2)
file_path_3 = "/Users/alyssanguyen/Desktop/IRLE_scraping/csv_files/processed_prices_ubereats_ca_ff_03222024.csv"
example = pd.read_csv(file_path_3)

In [4]:
#Drop all the columns we don't need 
ca_ff_ = ca_ff.drop(columns=['Unnamed: 0', 'inputted_location','restaurant_distance'])
ca_ff_ = ca_ff_.dropna(subset=['restaurant_location'])

In [5]:
ca_zip_count = ca_zip_count[['zip', 'county_name']]

In [6]:
#restaurant_rating cleaning 
# Ensure the column is of string type using .loc
ca_ff_.loc[:, 'restaurant_rating'] = ca_ff_['restaurant_rating'].astype(str)

# Count rows containing 'mi'
rows_with_mi = ca_ff_['restaurant_rating'].str.contains('mi').sum()
print("Number of rows with 'mi' in restaurant rating:", rows_with_mi)

# Replace invalid ratings ending with 'mi' with '0' using .loc
ca_ff_.loc[:, 'restaurant_rating'] = ca_ff_['restaurant_rating'].str.replace(r'.*mi$', '0', regex=True)

Number of rows with 'mi' in restaurant rating: 0

In [7]:
#converting data types 
ca_ff_['restaurant_name'] = ca_ff_['restaurant_name'].astype('string')
ca_ff_['menu_item'] = ca_ff_['menu_item'].astype('string')
ca_ff_['menu_item'] = ca_ff_['menu_item'].str.replace(r'\s+', ' ', regex=True)
ca_ff_['restaurant_location'] = ca_ff_['restaurant_location'].astype('string')
ca_ff_['restaurant_rating'] = ca_ff_['restaurant_rating'].str.strip().astype(float)

In [8]:
#cleaning up string columns 

ca_ff_['menu_item'] = ca_ff_['menu_item'].str.lower()
ca_ff_['restaurant_location'] = ca_ff_['restaurant_location'].str.lower()
ca_ff_['restaurant_name'] = ca_ff_['restaurant_name'].str.replace('_', ' ')

#remove special characters
ca_ff_['menu_item'] = ca_ff_['menu_item'].apply(lambda x: ''.join(ch for ch in x if ch.isalnum() or ch.isspace()))
ca_ff_

,Unnamed: 0.1,restaurant_name,menu_item,menu_item_price,restaurant_location,restaurant_rating,number_of_ratings
0,0,BJs Restaurants,brewhouse sampler,19.75,"1200, roseville, ca, 95678, us",4.4,1
1,1,BJs Restaurants,bonein wings,18.25,"1200, roseville, ca, 95678, us",4.4,1
2,2,BJs Restaurants,boneless wings,17.25,"1200, roseville, ca, 95678, us",4.4,1
3,3,BJs Restaurants,bjs original wings,18.25,"1200, roseville, ca, 95678, us",4.4,1
4,4,BJs Restaurants,avocado egg rolls,17.25,"1200, roseville, ca, 95678, us",4.4,1
...,...,...,...,...,...,...,...
72078,70542,TGI Fridays,plasticware,0.00,"2795 tapo canyon rd, simi valley, ca, 93063, us",4.5,600+
72079,70543,TGI Fridays,ketchup,0.00,"2795 tapo canyon rd, simi valley, ca, 93063, us",4.5,600+
72080,70544,TGI Fridays,mustard,0.00,"2795 tapo canyon rd, simi valley, ca, 93063, us",4.5,600+
72081,70545,TGI Fridays,straws,0.00,"2795 tapo canyon rd, simi valley, ca, 93063, us",4.5,600+
72082,70546,TGI Fridays,mayo,0.00,"2795 tapo canyon rd, simi valley, ca, 93063, us",4.5,600+

In [9]:
def price_list(x):
    return list(x)

def mean_non_zero(x):
    return np.mean(x[x != 0]) if np.any(x != 0) else 0

def median_non_zero(x):
    return np.median(x[x != 0]) if np.any(x != 0) else 0

def std_non_zero(x):
    return np.std(x[x != 0]) if np.any(x != 0) else 0

In [10]:
#Outback Steakhouse 

ca_ff_outback = ca_ff_[ca_ff_['restaurant_name'] == 'Outback Steakhouse']

#First part of grouping 

agg_funcs = {
    'menu_item_price': [mean_non_zero, median_non_zero, std_non_zero],  # calculate the average, median, and standard dev PRICE
    'restaurant_rating': 'mean', # calculate the average RATING 
    'menu_item' : 'count',
    'number_of_ratings': 'first'
}

grouped_outback = ca_ff_outback.groupby(['restaurant_name','restaurant_location']).agg(agg_funcs).reset_index()
grouped_outback.columns = [' '.join(col).strip() for col in grouped_outback.columns.values]

In [11]:
#Second part of grouping 
outback_lst = ['aussie fries','boomerang cheeseburger','the outbacker burger', ]

# Filter rows where 'menu_item' contains any item in mcd_lst
menu_items_outback = ca_ff_outback[ca_ff_outback['menu_item'].isin(outback_lst)].sort_values('menu_item')
menu_items_outback = menu_items_outback.drop_duplicates(subset=['restaurant_name', 'restaurant_location', 'menu_item'])

grouped_outback_2 = menu_items_outback.groupby(['restaurant_name', 'restaurant_location'])['menu_item_price'].agg(price_list).reset_index()

grouped_outback_2[['fries', 'cheeseburger', 'hamburger']] = grouped_outback_2['menu_item_price'].apply(pd.Series)
grouped_outback_2.drop(columns=['menu_item_price'], inplace=True)

#Merging the grouped dfs together 
merged_outback = pd.merge(grouped_outback, grouped_outback_2, on=['restaurant_name', 'restaurant_location'], how='inner')
merged_outback['combo'] = np.nan
merged_outback['specialty_item'] = np.nan
merged_outback

,restaurant_name,restaurant_location,menu_item_price mean_non_zero,menu_item_price median_non_zero,menu_item_price std_non_zero,restaurant_rating mean,menu_item count,number_of_ratings first,fries,cheeseburger,hamburger,combo,specialty_item
0,Outback Steakhouse,"12001 harbor boulevard, garden grove, ca, 9284...",18.765824,12.99,13.927776,4.5,100,1,4.99,10.49,15.99,NaN,NaN
1,Outback Steakhouse,"12400b amargosa road, victorville, ca, 92392, us",15.750000,12.79,11.150016,4.3,111,600+,3.99,8.39,12.79,NaN,NaN
2,Outback Steakhouse,"1246 great mall drive, milpitas, ca, 95035, us",20.328298,17.49,14.370553,4.3,104,1,4.99,15.99,NaN,NaN,NaN
3,Outback Steakhouse,"12850, norwalk, ca, 90650, us",19.690000,15.99,13.937520,4.5,111,800+,4.99,10.49,15.99,NaN,NaN
4,Outback Steakhouse,"1340 howe ave., sac ii, ca, 95825, us",19.518713,14.99,14.020405,4.4,111,1,4.99,10.49,15.99,NaN,NaN
5,Outback Steakhouse,"1361 fitzgerald drive, pinole, ca, 94564, us",19.835918,16.74,14.110209,4.4,108,700+,4.99,10.49,15.99,NaN,NaN
6,Outback Steakhouse,"14701 pomerado rd., poway, ca, 92064, us",15.448776,12.39,10.761666,4.6,108,1,3.99,8.39,12.79,NaN,NaN
7,Outback Steakhouse,"1476 n. azusa ave., covina, ca, 91722, us",15.628431,12.39,11.162288,4.6,112,1,3.99,8.39,12.79,NaN,NaN
8,Outback Steakhouse,"150a longbrook way, pleasant hill, ca, 94523, us",17.408293,14.24,12.956373,4.6,94,700+,4.99,7.49,14.49,NaN,NaN
9,Outback Steakhouse,"1640 camino del rio n., san diego, ca, 92108, us",19.696863,15.49,14.090501,4.4,112,2,4.99,10.49,15.99,NaN,NaN
10,Outback Steakhouse,"166 e. huntington dr., arcadia, ca, 91006, us",19.421068,14.99,13.935127,4.6,113,1,4.99,10.49,15.99,NaN,NaN
11,Outback Steakhouse,"1761 n. victory place, burbank, ca, 91504, us",16.659787,14.39,11.028443,4.5,104,2,3.99,8.39,12.79,NaN,NaN
12,Outback Steakhouse,"177, san marcos, ca, 92069, us",19.690000,15.99,13.937520,4.4,111,800+,4.99,10.49,15.99,NaN,NaN
13,Outback Steakhouse,"18711devonshire st., northridge, ca, 91324, us",15.852178,12.79,11.285900,4.5,111,1,3.99,8.39,12.79,NaN,NaN
14,Outback Steakhouse,"20 w. shoreline dr., long beach, ca, 90802, us",15.874000,13.39,11.136117,4.2,110,1,3.99,8.39,12.79,NaN,NaN
15,Outback Steakhouse,"2045-d w. briggsmore ave., modesto, ca, 95350, us",17.225714,13.74,12.864251,4.1,96,340+,4.99,7.49,14.49,NaN,NaN
16,Outback Steakhouse,"2341 lockwood st., oxnard, ca, 93030, us",18.626082,13.99,13.054147,4.5,106,500+,4.99,10.49,15.99,NaN,NaN
17,Outback Steakhouse,"25261n. the old rd., valencia, ca, 91381, us",15.994040,13.99,11.127543,4.5,109,600+,3.99,8.39,12.79,NaN,NaN
18,Outback Steakhouse,"25322 cabot rd., laguna hills, ca, 92653, us",15.750000,12.79,11.150016,4.5,111,900+,3.99,8.39,12.79,NaN,NaN
19,Outback Steakhouse,"26652 portola pkwy., foothill ranch, ca, 92610...",19.570392,15.49,13.921024,4.5,112,500+,4.99,10.49,15.99,NaN,NaN
20,Outback Steakhouse,"2980 plaza bonita, national city, ca, 91950, us",19.782000,16.74,13.976485,4.4,110,1,4.99,10.49,15.99,NaN,NaN
21,Outback Steakhouse,"3525 w. carson st, torrance, ca, 90503, us",19.845000,16.74,13.920146,4.4,110,900+,4.99,10.49,15.99,NaN,NaN
22,Outback Steakhouse,"371 gellert blvd., daly city, ca, 94015, us",16.732500,12.99,12.168005,4.4,448,2,4.99,8.39,15.99,NaN,NaN
23,Outback Steakhouse,"4004 south mooney blvd., visalia, ca, 93277, us",19.690000,15.99,13.937520,4.5,111,320+,4.99,10.49,15.99,NaN,NaN
24,Outback Steakhouse,"4196 clairemont mesa blvd., san diego, ca, 921...",19.664510,15.49,14.122244,4.5,112,1,4.99,10.49,15.99,NaN,NaN
25,Outback Steakhouse,"4350 century blvd, pittsburg, ca, 94565, us",19.268431,14.49,13.917323,4.4,112,400+,4.99,10.49,15.99,NaN,NaN
26,Outback Steakhouse,"4492, ontario, ca, 91764, us",19.538039,15.49,13.952860,4.6,112,1,4.99,10.49,15.99,NaN,NaN
27,Outback Steakhouse,"5051 stockdale hwy., bakersfield, ca, 93309, us",17.120120,13.49,12.905278,4.6,95,1,4.99,7.49,14.49,NaN,NaN
28,Outback Steakhouse,"521 davis street, vacaville, ca, 95688, us",19.538039,15.49,13.952860,4.5,224,700+,4.99,10.49,15.99,NaN,NaN
29,Outback Steakhouse,"530 n. mountain ave., upland, ca, 91786, us",19.690000,15.99,13.937520,4.5,111,600+,4.99,10.49,15.99,NaN,NaN
30,Outback Steakhouse,"5305 clark ave., lakewood, ca, 90712, us",15.874000,13.39,11.136117,4.5,110,1,3.99,8.39,12.79,NaN,NaN
31,Outback Steakhouse,"549, westminster, ca, 92683, us",19.538039,15.49,13.952860,4.6,112,1,4.99,10.49,15.99,NaN,NaN
32,Outback Steakhouse,"620 e. hospitality lane, san bernardino, ca, 9...",15.874000,13.39,11.136117,4.6,110,900+,3.99,8.39,12.79,NaN,NaN
33,Outback Steakhouse,"6505 regional st., dublin, ca, 94568, us",15.895600,13.39,11.114717,4.4,110,600+,3.99,8.39,12.79,NaN,NaN
34,Outback Steakhouse,"722 jamacha rd., el cajon, ca, 92019, us",19.812000,16.74,13.953269,4.4,110,1,4.99,10.49,15.99,NaN,NaN
35,Outback Steakhouse,"7221 laguna blvd., elk grove, ca, 95758, us",19.074536,14.99,13.481123,4.2,107,370+,4.99,10.49,15.99,NaN,NaN
36,Outback Steakhouse,"7575beach blvd., buena park, ca, 90620, us",19.477500,15.49,13.917847,4.5,114,500+,4.99,10.49,15.99,NaN,NaN

In [12]:
#Red Robin

ca_ff_rr = ca_ff_[ca_ff_['restaurant_name'] == 'Red Robin']

#First part of grouping 

agg_funcs = {
    'menu_item_price': [mean_non_zero, median_non_zero, std_non_zero],  # calculate the average, median, and standard dev PRICE
    'restaurant_rating': 'mean', # calculate the average RATING 
    'menu_item' : 'count',
    'number_of_ratings': 'first'
}

grouped_rr = ca_ff_rr.groupby(['restaurant_name','restaurant_location']).agg(agg_funcs).reset_index()
grouped_rr.columns = [' '.join(col).strip() for col in grouped_rr.columns.values]

In [13]:
#Second part of grouping 
rr_lst = ['reds cheeseburger','steak fries', ]

# Filter rows where 'menu_item' contains any item in mcd_lst
menu_items_rr = ca_ff_rr[ca_ff_rr['menu_item'].isin(rr_lst)].sort_values('menu_item')
menu_items_rr = menu_items_rr.drop_duplicates(subset=['restaurant_name', 'restaurant_location', 'menu_item'])

grouped_rr_2 = menu_items_rr.groupby(['restaurant_name', 'restaurant_location'])['menu_item_price'].agg(price_list).reset_index()

grouped_rr_2[['cheeseburger', 'fries']] = grouped_rr_2['menu_item_price'].apply(pd.Series)
grouped_rr_2.drop(columns=['menu_item_price'], inplace=True)

#Merging the grouped dfs together 
merged_rr = pd.merge(grouped_rr, grouped_rr_2, on=['restaurant_name', 'restaurant_location'], how='inner')
merged_rr['combo'] = np.nan
merged_rr['specialty_item'] = np.nan
merged_rr['hamburger'] = np.nan
merged_rr

,restaurant_name,restaurant_location,menu_item_price mean_non_zero,menu_item_price median_non_zero,menu_item_price std_non_zero,restaurant_rating mean,menu_item count,number_of_ratings first,cheeseburger,fries,combo,specialty_item,hamburger
0,Red Robin,"1000 el paseo de saratoga, san jose, ca, 95130...",13.065676,13.19,8.481864,4.6,112,600+,8.39,4.79,NaN,NaN,NaN
1,Red Robin,"101 town center east, santa maria, ca, 93454, us",12.493279,11.69,8.346580,4.5,123,360+,8.39,4.79,NaN,NaN,NaN
2,Red Robin,"1080, brea, ca, 92821, us",12.605126,11.99,8.408106,4.6,120,700+,8.39,4.79,NaN,NaN,NaN
3,Red Robin,"112, lakewood, ca, 90712, us",12.605126,11.99,8.408106,4.6,120,1,8.39,4.79,NaN,NaN,NaN
4,Red Robin,"1184 galleria blvd, roseville, ca, 95678, us",12.578235,11.99,8.431745,4.5,120,600+,8.39,4.79,NaN,NaN,NaN
5,Red Robin,"12007 harbor blvd, garden grove, ca, 92840, us",12.960339,12.49,8.527257,4.6,119,1,8.39,4.79,NaN,NaN,NaN
6,Red Robin,"12271 foothill blvd, rancho cucamonga, ca, 917...",13.054407,12.79,8.654778,4.6,119,1,8.39,4.79,NaN,NaN,NaN
7,Red Robin,"1274 el camino real, san bruno, ca, 94066, us",12.711008,11.99,8.334669,4.5,480,900+,8.39,4.79,NaN,NaN,NaN
8,Red Robin,"1307 west sunflower avenue, santa ana, ca, 927...",12.942542,12.49,8.547085,4.7,119,1,8.39,4.79,NaN,NaN,NaN
9,Red Robin,"1370 tyler st, riverside, ca, 92503, us",12.912881,12.49,8.574058,4.5,119,480+,8.39,4.79,NaN,NaN,NaN
10,Red Robin,"14400 bear valley rd #405, victorville, ca, 92...",12.644237,12.19,8.436730,4.5,119,600+,8.39,4.79,NaN,NaN,NaN
11,Red Robin,"1555 simi town center way #670, simi valley, c...",12.871513,11.99,8.546000,4.6,120,1,8.39,4.79,NaN,NaN,NaN
12,Red Robin,"15610, whittier, ca, 90603, us",13.105254,12.79,8.623643,4.6,119,1,8.39,4.79,NaN,NaN,NaN
13,Red Robin,"1631 w imperial hwy, la habra, ca, 90631, us",13.035378,12.39,8.620815,4.6,120,800+,8.39,4.79,NaN,NaN,NaN
14,Red Robin,"1815 hawthorne blvd, redondo beach, ca, 90278, us",12.792542,11.99,8.587560,4.6,119,1,8.39,4.79,NaN,NaN,NaN
15,Red Robin,"18999 bear valley rd, apple valley, ca, 92308, us",12.871513,11.99,8.546000,4.4,120,600+,8.39,4.79,NaN,NaN,NaN
16,Red Robin,"1990 w florida ave, hemet, ca, 92545, us",12.940000,12.49,8.549554,4.5,119,500+,8.39,4.79,NaN,NaN,NaN
17,Red Robin,"200 e via rancho pkwy, escondido, ca, 92025, us",12.971667,12.19,8.619058,4.6,121,800+,8.39,4.79,NaN,NaN,NaN
18,Red Robin,"2015 s mooney blvd #505, visalia, ca, 93277, us",12.571667,11.99,8.393192,4.5,121,500+,8.39,4.79,NaN,NaN,NaN
19,Red Robin,"2031 bronze star dr, woodland, ca, 95776, us",12.871513,11.99,8.546000,4.4,120,380+,8.39,4.79,NaN,NaN,NaN
20,Red Robin,"2199 n, orange, ca, 92865, us",12.588291,11.99,8.451369,4.7,118,1,8.39,4.79,NaN,NaN,NaN
21,Red Robin,"2200 eastridge loop suite 2073, san jose, ca, ...",13.008487,12.39,8.645210,4.4,120,900+,8.39,4.79,NaN,NaN,NaN
22,Red Robin,"2367 claribel rd, riverbank, ca, 95367, us",12.753115,11.99,8.485612,4.3,123,360+,8.39,4.79,NaN,NaN,NaN
23,Red Robin,"2385 sand creek rd, brentwood, ca, 94513, us",12.940862,12.99,8.644417,4.3,117,450+,8.39,4.79,NaN,NaN,NaN
24,Red Robin,"2667 park ave, tustin, ca, 92606, us",12.892542,12.49,8.590441,4.6,119,800+,8.39,4.79,NaN,NaN,NaN
25,Red Robin,"2701 ming ave #g15, bakersfield, ca, 93304, us",12.605126,11.99,8.408106,4.2,120,700+,8.39,4.79,NaN,NaN,NaN
26,Red Robin,"27063 mcbean pkwy, valencia, ca, 91355, us",13.008487,12.39,8.645210,4.7,120,1,8.39,4.79,NaN,NaN,NaN
27,Red Robin,"27476 lugonia ave, redlands, ca, 92374, us",12.666923,12.39,8.462985,4.6,118,1,8.39,4.79,NaN,NaN,NaN
28,Red Robin,"30142 haun rd, menifee, ca, 92584, us",12.946522,12.99,8.637060,4.6,116,900+,8.39,4.79,NaN,NaN,NaN
29,Red Robin,"3030 plaza bonita rd #2520, national city, ca,...",13.231667,13.19,8.658790,4.5,109,1,8.39,4.79,NaN,NaN,NaN
30,Red Robin,"3105 w monte vista ave, turlock, ca, 95380, us",12.871513,11.99,8.546000,4.4,120,260+,8.39,4.79,NaN,NaN,NaN
31,Red Robin,"3301 e main st #1511, ventura, ca, 93003, us",12.507355,11.99,8.379557,4.4,122,310+,8.39,4.79,NaN,NaN,NaN
32,Red Robin,"3385 w shaw ave, fresno, ca, 93711, us",12.640847,12.19,8.434662,4.5,119,1,8.39,4.79,NaN,NaN,NaN
33,Red Robin,"360 palladio parkway #410, folsom, ca, 95630, us",12.605126,11.99,8.408106,4.3,120,340+,8.39,4.79,NaN,NaN,NaN
34,Red Robin,"3903 grand ave, chino, ca, 91710, us",12.605126,11.99,8.408106,4.6,120,900+,8.39,4.79,NaN,NaN,NaN
35,Red Robin,"3906 rivermark plaza, santa clara, ca, 95054, us",12.914590,11.99,8.560702,4.6,123,1,8.39,4.79,NaN,NaN,NaN
36,Red Robin,"404-a sun valley mall, concord, ca, 94520, us",12.753115,11.99,8.485612,4.4,123,500+,8.39,4.79,NaN,NaN,NaN
37,Red Robin,"40820 winchester rd #1070, temecula, ca, 92591...",12.671356,12.19,8.412692,4.6,119,700+,8.39,4.79,NaN,NaN,NaN
38,Red Robin,"419 n mckinley st, mckinley st, ca, 92879, us",12.605126,11.99,8.408106,4.6,120,700+,8.39,4.79,NaN,NaN,NaN
39,Red Robin,"428 plaza dr, west covina, ca, 91790, us",12.605126,11.99,8.408106,4.6,120,1,8.39,4.79,NaN,NaN,NaN
40,Red Robin,"5461 katella ave, cypress, ca, 90720, us",13.078136,12.79,8.648456,4.7,119,1,8.39,4.79,NaN,NaN,NaN
41,Red Robin,"565 w arrow highway, san dimas, ca, 91773, us",13.008487,12.39,8.645210,4.6,120,1,8.39,4.79,NaN,NaN,NaN
42,Red Robin,"681 town center dr, oxnard, ca, 93036, us",12.507355,11.99,8.379557,4.5,122,480+,8.39,4.79,NaN,NaN,NaN
43,Red Robin,"751 e joiner pkwy, lincoln, ca, 95648, us",12.871513,11.99,8.546000,4.5,120,310+,8.39,4.79,NaN,NaN,NaN
44,Red Robin,"7675 n blackstone ave, fresno, ca, 93711, us",12.844622,11.99,8.570094,4.4,120,700+,8.39,4.79,NaN,NaN,NaN
45,Red Robin,"7990 greenback ln unit j, citrus heights, ca, ...",13.020435,12.99,8.643984,4.3,116,900+,8.39,4.79,NaN,NaN,NaN
46,Red Robin,"8245 laguna blvd, elk grove, ca, 95758, us",12.605126,11.99,8.408106,4.3,120,600+,8.39,4.79,NaN,NaN,NaN
47,Red Robin,"9301 tampa ave #210, northridge, ca, 91324, us",12.605126,11.99,8.408106,4.6,120,1,8.39,4.79,NaN,NaN,NaN
48,Red Robin,"950 shaw ave, clovis, ca, 93612, us",12.439038,11.09,8.786911,4.4,105,1,8.39,4.79,NaN,NaN,NaN

In [14]:
#Panera

ca_ff_panera = ca_ff_[ca_ff_['restaurant_name'] == 'Panera Bread']

#First part of grouping 

agg_funcs = {
    'menu_item_price': [mean_non_zero, median_non_zero, std_non_zero],  # calculate the average, median, and standard dev PRICE
    'restaurant_rating': 'mean', # calculate the average RATING 
    'menu_item' : 'count',
    'number_of_ratings': 'first'
}

grouped_panera = ca_ff_panera.groupby(['restaurant_name','restaurant_location']).agg(agg_funcs).reset_index()
grouped_panera.columns = [' '.join(col).strip() for col in grouped_panera.columns.values]

In [15]:
grouped_panera['cheeseburger'] = np.nan
grouped_panera['hamburger'] = np.nan
grouped_panera['specialty_item'] = np.nan
grouped_panera['combo'] = np.nan
grouped_panera['fries'] = np.nan

In [16]:
grouped_panera

,restaurant_name,restaurant_location,menu_item_price mean_non_zero,menu_item_price median_non_zero,menu_item_price std_non_zero,restaurant_rating mean,menu_item count,number_of_ratings first,cheeseburger,hamburger,specialty_item,combo,fries
0,Panera Bread,"1553 east prosperity avenue, tulare, ca, 93274...",10.456197,9.39,9.144258,4.7,149,85,NaN,NaN,NaN,NaN,NaN
1,Panera Bread,"18663 bear valley rd, hesperia, ca, 92345, us",10.831096,9.39,9.073737,4.8,152,110+,NaN,NaN,NaN,NaN,NaN
2,Panera Bread,"2130 east, el segundo, ca, 90245, us",12.658794,10.69,13.464801,4.7,147,120+,NaN,NaN,NaN,NaN,NaN
3,Panera Bread,"3711 sports arena blvd, san diego, ca, 92110, us",12.632361,10.69,13.440634,4.4,150,48,NaN,NaN,NaN,NaN,NaN
4,Panera Bread,"500 capitol mall #120, sacramento, ca, 95814, us",10.321293,9.49,8.424929,4.6,153,42,NaN,NaN,NaN,NaN,NaN
5,Panera Bread,"511 north main street, corona, ca, 92880, us",9.061951,9.94,3.530331,4.8,88,200+,NaN,NaN,NaN,NaN,NaN
6,Panera Bread,"5895 katella ave suite f, cypress, ca, 90630, us",10.854493,9.54,9.123832,4.6,144,33,NaN,NaN,NaN,NaN,NaN
7,Panera Bread,"800 w, san marcos, ca, 92078, us",12.681489,10.69,13.571155,4.9,148,52,NaN,NaN,NaN,NaN,NaN

In [17]:
#Denny

ca_ff_denny = ca_ff_[ca_ff_['restaurant_name'] == 'Denny']

#First part of grouping 

agg_funcs = {
    'menu_item_price': [mean_non_zero, median_non_zero, std_non_zero],  # calculate the average, median, and standard dev PRICE
    'restaurant_rating': 'mean', # calculate the average RATING 
    'menu_item' : 'count',
    'number_of_ratings': 'first'
}

grouped_denny = ca_ff_denny.groupby(['restaurant_name','restaurant_location']).agg(agg_funcs).reset_index()
grouped_denny.columns = [' '.join(col).strip() for col in grouped_denny.columns.values]

In [18]:
#Second part of grouping 
denny_lst = ['seasoned fries','single cheeseburger']

# Filter rows where 'menu_item' contains any item in mcd_lst
menu_items_denny = ca_ff_denny[ca_ff_denny['menu_item'].isin(denny_lst)].sort_values('menu_item')
menu_items_denny = menu_items_denny.drop_duplicates(subset=['restaurant_name', 'restaurant_location', 'menu_item'])

grouped_denny_2 = menu_items_denny.groupby(['restaurant_name', 'restaurant_location'])['menu_item_price'].agg(price_list).reset_index()

grouped_denny_2[['fries', 'cheeseburger']] = grouped_denny_2['menu_item_price'].apply(pd.Series)
grouped_denny_2.drop(columns=['menu_item_price'], inplace=True)

#Merging the grouped dfs together 
merged_denny = pd.merge(grouped_denny, grouped_denny_2, on=['restaurant_name', 'restaurant_location'], how='inner')
merged_denny['combo'] = np.nan
merged_denny['specialty_item'] = np.nan
merged_denny['hamburger'] = np.nan

merged_denny

,restaurant_name,restaurant_location,menu_item_price mean_non_zero,menu_item_price median_non_zero,menu_item_price std_non_zero,restaurant_rating mean,menu_item count,number_of_ratings first,fries,cheeseburger,combo,specialty_item,hamburger
0,Denny,"10 airport blvd, south san francisco, ca, 9408...",13.317944,12.670,8.531761,4.4,548,1,6.22,17.77,NaN,NaN,NaN
1,Denny,"1000 w. steele lane, santa rosa, ca, 95403, us",12.638396,12.050,8.633148,4.3,136,400+,6.54,17.98,NaN,NaN,NaN
2,Denny,"1001 east capitol, san jose, ca, 95121, us",12.335234,11.940,7.560002,4.5,137,700+,6.02,17.56,NaN,NaN,NaN
3,Denny,"1019 east main st., santa maria, ca, 93454, us",12.263084,10.070,7.391710,4.5,137,270+,5.81,18.29,NaN,NaN,NaN
4,Denny,"1065 camino del rio, san diego, ca, 92108, us",12.423396,10.955,7.629890,4.3,136,700+,6.02,18.39,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,Denny,"8841 greenback ln, orangevale, ca, 95662, us",12.196176,10.435,7.365105,4.3,132,260+,6.02,17.46,NaN,NaN,NaN
152,Denny,"888 s figueroa st, los angeles, ca, 90017, us",12.418302,11.090,7.746110,4.2,136,3,6.69,17.99,NaN,NaN,NaN
153,Denny,"910 saratoga ave, san jose, ca, 95129, us",12.526389,10.435,7.522060,4.4,138,600+,5.81,19.12,NaN,NaN,NaN
154,Denny,"955 manning ave, reedley, ca, 93654, us",11.453889,9.740,6.862923,3.1,138,14,5.59,16.49,NaN,NaN,NaN
155,Denny,"975 e blanco rd, salinas, ca, 93901, us",13.086154,12.255,8.981899,4.6,134,250+,6.74,18.29,NaN,NaN,NaN

In [19]:
#Applebee

ca_ff_apple = ca_ff_[ca_ff_['restaurant_name'] == 'Applebee']

#First part of grouping 

agg_funcs = {
    'menu_item_price': [mean_non_zero, median_non_zero, std_non_zero],  # calculate the average, median, and standard dev PRICE
    'restaurant_rating': 'mean', # calculate the average RATING 
    'menu_item' : 'count',
    'number_of_ratings': 'first'
}

grouped_apple = ca_ff_apple.groupby(['restaurant_name','restaurant_location']).agg(agg_funcs).reset_index()
grouped_apple.columns = [' '.join(col).strip() for col in grouped_apple.columns.values]

In [20]:
#Second part of grouping 
apple_lst = ['classic burger', 'classic cheeseburger']

# Filter rows where 'menu_item' contains any item in mcd_lst
menu_items_apple = ca_ff_apple[ca_ff_apple['menu_item'].isin(apple_lst)].sort_values('menu_item')
menu_items_apple = menu_items_apple.drop_duplicates(subset=['restaurant_name', 'restaurant_location', 'menu_item'])

grouped_apple_2 = menu_items_apple.groupby(['restaurant_name', 'restaurant_location'])['menu_item_price'].agg(price_list).reset_index()

grouped_apple_2[['hamburger', 'cheeseburger']] = grouped_apple_2['menu_item_price'].apply(pd.Series)
grouped_apple_2.drop(columns=['menu_item_price'], inplace=True)

#Merging the grouped dfs together 
merged_apple = pd.merge(grouped_apple, grouped_apple_2, on=['restaurant_name', 'restaurant_location'], how='inner')
merged_apple['combo'] = np.nan
merged_apple['specialty_item'] = np.nan
merged_apple['fries'] = np.nan


merged_apple

,restaurant_name,restaurant_location,menu_item_price mean_non_zero,menu_item_price median_non_zero,menu_item_price std_non_zero,restaurant_rating mean,menu_item count,number_of_ratings first,hamburger,cheeseburger,combo,specialty_item,fries
0,Applebee,"1021 n. milliken ave., ontario, ca, 91764, us",24.468151,17.49,24.779841,4.4,120,450+,15.99,17.29,NaN,NaN,NaN
1,Applebee,"1041 admiral callaghan lane, vallejo, ca, 9459...",25.541055,17.49,25.973858,4.4,239,900+,15.39,16.69,NaN,NaN,NaN
2,Applebee,"107 fletcher parkway, el cajon, ca, 92020, us",24.942066,17.49,25.930237,4.3,122,1,15.99,17.29,NaN,NaN,NaN
3,Applebee,"10709 foothill blvd, rancho cucamonga, ca, 917...",25.398000,17.49,26.126016,4.6,126,600+,15.99,17.29,NaN,NaN,NaN
4,Applebee,"1105 s. green valley road, watsonville, ca, 95...",22.648537,16.99,23.216920,4.5,124,250+,15.39,16.99,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Applebee,"8931 brooks rd s, windsor, ca, 95492, us",25.971452,17.49,25.981055,4.3,125,210+,15.39,16.69,NaN,NaN,NaN
73,Applebee,"899 east spring st, signal hill, ca, 90755, us",15.300714,16.29,10.455384,4.5,113,1,15.99,17.29,NaN,NaN,NaN
74,Applebee,"9000 ming ave, bakersfield, ca, 93311, us",24.263950,17.49,24.884957,4.5,120,1,16.29,17.49,NaN,NaN,NaN
75,Applebee,"9480 east mira mesa blvd., san diego, ca, 9212...",21.574615,17.49,20.288558,4.8,118,1,15.99,17.29,NaN,NaN,NaN
76,Applebee,"98 shaw avenue, clovis, ca, 93612, us",24.378793,17.49,24.865666,4.5,117,900+,15.99,17.29,NaN,NaN,NaN

In [21]:
#TGI Fridays

ca_ff_tgi = ca_ff_[ca_ff_['restaurant_name'] == 'TGI Fridays']

#First part of grouping 

agg_funcs = {
    'menu_item_price': [mean_non_zero, median_non_zero, std_non_zero],  # calculate the average, median, and standard dev PRICE
    'restaurant_rating': 'mean', # calculate the average RATING 
    'menu_item' : 'count',
    'number_of_ratings': 'first'
}

grouped_tgi = ca_ff_tgi.groupby(['restaurant_name','restaurant_location']).agg(agg_funcs).reset_index()
grouped_tgi.columns = [' '.join(col).strip() for col in grouped_tgi.columns.values]

In [22]:
#Second part of grouping 
tgi_lst = ['cheeseburger', 'seasoned fries']

# Filter rows where 'menu_item' contains any item in mcd_lst
menu_items_tgi = ca_ff_tgi[ca_ff_tgi['menu_item'].isin(tgi_lst)].sort_values('menu_item')
menu_items_tgi = menu_items_tgi.drop_duplicates(subset=['restaurant_name', 'restaurant_location', 'menu_item'])

grouped_tgi_2 = menu_items_tgi.groupby(['restaurant_name', 'restaurant_location'])['menu_item_price'].agg(price_list).reset_index()

grouped_tgi_2[['cheeseburger', 'fries']] = grouped_tgi_2['menu_item_price'].apply(pd.Series)
grouped_tgi_2.drop(columns=['menu_item_price'], inplace=True)

#Merging the grouped dfs together 
merged_tgi = pd.merge(grouped_tgi, grouped_tgi_2, on=['restaurant_name', 'restaurant_location'], how='inner')
merged_tgi['combo'] = np.nan
merged_tgi['specialty_item'] = np.nan
merged_tgi['hamburger'] = np.nan
merged_tgi

,restaurant_name,restaurant_location,menu_item_price mean_non_zero,menu_item_price median_non_zero,menu_item_price std_non_zero,restaurant_rating mean,menu_item count,number_of_ratings first,cheeseburger,fries,combo,specialty_item,hamburger
0,TGI Fridays,"2795 tapo canyon rd, simi valley, ca, 93063, us",26.533507,18.62,27.678162,4.5,140,600+,16.09,2.79,NaN,NaN,NaN
1,TGI Fridays,"31900 dyer st, union city, ca, 94587, us",26.508884,18.62,27.634634,4.4,983,900+,16.09,2.79,NaN,NaN,NaN

In [23]:
#'Buffalo Wild Wings'
#TGI Fridays

ca_ff_buff = ca_ff_[ca_ff_['restaurant_name'] == 'Buffalo Wild Wings']

#First part of grouping 

agg_funcs = {
    'menu_item_price': [mean_non_zero, median_non_zero, std_non_zero],  # calculate the average, median, and standard dev PRICE
    'restaurant_rating': 'mean', # calculate the average RATING 
    'menu_item' : 'count',
    'number_of_ratings': 'first'
}

grouped_buff = ca_ff_buff.groupby(['restaurant_name','restaurant_location']).agg(agg_funcs).reset_index()
grouped_buff.columns = [' '.join(col).strip() for col in grouped_buff.columns.values]

In [24]:
#Second part of grouping 
buff_lst = ['allamerican cheeseburger', 'regular french fries']

# Filter rows where 'menu_item' contains any item in mcd_lst
menu_items_buff = ca_ff_buff[ca_ff_buff['menu_item'].isin(buff_lst)].sort_values('menu_item')
menu_items_buff = menu_items_buff.drop_duplicates(subset=['restaurant_name', 'restaurant_location', 'menu_item'])

grouped_buff_2 = menu_items_buff.groupby(['restaurant_name', 'restaurant_location'])['menu_item_price'].agg(price_list).reset_index()

grouped_buff_2[['cheeseburger', 'fries']] = grouped_buff_2['menu_item_price'].apply(pd.Series)
grouped_buff_2.drop(columns=['menu_item_price'], inplace=True)

#Merging the grouped dfs together 
merged_buff = pd.merge(grouped_buff, grouped_buff_2, on=['restaurant_name', 'restaurant_location'], how='inner')
merged_buff['combo'] = np.nan
merged_buff['specialty_item'] = np.nan
merged_buff['hamburger'] = np.nan
merged_buff

,restaurant_name,restaurant_location,menu_item_price mean_non_zero,menu_item_price median_non_zero,menu_item_price std_non_zero,restaurant_rating mean,menu_item count,number_of_ratings first,cheeseburger,fries,combo,specialty_item,hamburger
0,Buffalo Wild Wings,"1000 s fair oaks, pasadena, ca, 91105, us",13.002329,14.29,10.266384,4.4,109,2,17.29,7.29,NaN,NaN,NaN
1,Buffalo Wild Wings,"1010 w, san marcos, ca, 92078, us",8.994845,6.99,10.221463,4.1,106,1,16.79,5.99,NaN,NaN,NaN
2,Buffalo Wild Wings,"11255 e 183rd st, cerritos, ca, 90703, us",9.221386,7.29,10.161498,4.0,110,1,17.29,5.99,NaN,NaN,NaN
3,Buffalo Wild Wings,"1168 galleria blvd, roseville, ca, 95678, us",9.026869,7.79,9.770446,4.4,108,500+,15.99,5.99,NaN,NaN,NaN
4,Buffalo Wild Wings,"12411 limonite avenue suite 650 , mira loma, e...",13.105352,13.79,10.118550,4.0,108,800+,16.79,7.29,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,Buffalo Wild Wings,"795 e betteravia rd, santa maria, ca, 93454, us",7.888000,4.74,9.943876,4.2,98,410+,15.29,5.99,NaN,NaN,NaN
68,Buffalo Wild Wings,"8188 day creek blvd ste 140, rancho cucamonga,...",13.105352,13.79,10.118550,3.9,109,1,16.79,7.29,NaN,NaN,NaN
69,Buffalo Wild Wings,"8301 on the mall, buena park, ca, 90620, us",9.482449,8.14,10.209026,4.3,105,130+,16.79,7.29,NaN,NaN,NaN
70,Buffalo Wild Wings,"859 blossom hill rd, san jose, ca, 95123, us",8.905155,7.29,10.131247,4.1,106,900+,16.29,5.99,NaN,NaN,NaN
71,Buffalo Wild Wings,"9301 tampa ave, northridge, usa, los angeles, ...",9.310700,7.54,10.235377,4.2,107,2,17.29,5.99,NaN,NaN,NaN

In [25]:
#Stack all restaurants
ubereats_fullserv_prices = pd.concat([merged_outback, grouped_panera, merged_rr, merged_buff, merged_tgi, merged_apple, merged_denny]).reset_index(drop=True)

In [28]:
#If there are bad addresses, replace them with the actual address here 

ubereats_fullserv_prices.loc[274, 'restaurant_location'] = "1377 w foothill blvd, rialto, ca, 92376"
ubereats_fullserv_prices.loc[293, 'restaurant_location'] = "17009-a valley blvd, fontana, ca, 92335"

In [29]:
pattern = r",\s*([a-zA-Z]{2})\s*,?\s*(\d{5}(?:-\d{4})?)"

def extract_state_zip(address):
    match = re.search(pattern, address)
    if match:
        state, zip_code = match.groups()
        return state, zip_code
    else:
        return None, None

# Apply the function to extract state and zip code
ubereats_fullserv_prices[['state', 'zip']] = ubereats_fullserv_prices['restaurant_location'].apply(lambda x: pd.Series(extract_state_zip(x)))
ubereats_fullserv_prices['zip'] = ubereats_fullserv_prices['zip'].str.split('-').str[0].astype(int)

#Get county 
ubereats_fullserv_prices = ubereats_fullserv_prices.merge(ca_zip_count, on = 'zip')

In [27]:
nan_zip_rows = ubereats_fullserv_prices[ubereats_fullserv_prices['zip'].isna()]
nan_zip_rows

,restaurant_name,restaurant_location,menu_item_price mean_non_zero,menu_item_price median_non_zero,menu_item_price std_non_zero,restaurant_rating mean,menu_item count,number_of_ratings first,fries,cheeseburger,hamburger,combo,specialty_item,state,zip
274,Denny,"1377 w foothill blvd, rialto, ca, us, us",11.831132,9.76,7.183182,4.3,136,1,5.81,17.14,NaN,NaN,NaN,None,None
293,Denny,"17009-a valley blvd., fontana, ca, us, us",11.364528,9.44,6.932546,4.4,136,800+,5.59,16.69,NaN,NaN,NaN,None,None

In [30]:
specific_date = datetime.strptime('05142024', '%m%d%Y')
# Assign the datetime object to the entire 'date' column
ubereats_fullserv_prices['date'] = specific_date
ubereats_fullserv_prices['uber_eats'] = 1
ubereats_fullserv_prices['post_policy'] = 1
ubereats_fullserv_prices['fast_food'] = 0
ubereats_fullserv_prices['local'] = 0

In [31]:
#Save as csv 
ubereats_fullserv_prices.to_csv('final_processed_prices_ubereats_ca_fullserv_05142024.csv', index = True)