In [2]:
import json
import pandas as pd
import numpy as np
import re
from datetime import datetime

In [3]:
file_path = "/Users/alyssanguyen/Desktop/IRLE_scraping/csv_files/missing_ca_smallff_rnd1.csv"
ca_ff = pd.read_csv(file_path)
file_path_2 = "/Users/alyssanguyen/Desktop/IRLE_scraping/csv_files/uszips.csv"
ca_zip_count = pd.read_csv(file_path_2)
file_path_3 = "/Users/alyssanguyen/Desktop/IRLE_scraping/csv_files/processed_prices_ubereats_ca_ff_03222024.csv"
example = pd.read_csv(file_path_3)

In [4]:
#Drop all the columns we don't need 
ca_ff_ = ca_ff.drop(columns=['Unnamed: 0', 'inputted_location','restaurant_distance'])
ca_ff_ = ca_ff_.dropna(subset=['restaurant_location'])

In [5]:
ca_zip_count = ca_zip_count[['zip', 'county_name']]

In [6]:
#restaurant_rating cleaning 
# Ensure the column is of string type using .loc
ca_ff_.loc[:, 'restaurant_rating'] = ca_ff_['restaurant_rating'].astype(str)

# Count rows containing 'mi'
rows_with_mi = ca_ff_['restaurant_rating'].str.contains('mi').sum()
print("Number of rows with 'mi' in restaurant rating:", rows_with_mi)

# Replace invalid ratings ending with 'mi' with '0' using .loc
ca_ff_.loc[:, 'restaurant_rating'] = ca_ff_['restaurant_rating'].str.replace(r'.*mi$', '0', regex=True)

Number of rows with 'mi' in restaurant rating: 73

In [7]:
#converting data types 
ca_ff_['restaurant_name'] = ca_ff_['restaurant_name'].astype('string')
ca_ff_['menu_item'] = ca_ff_['menu_item'].astype('string')
ca_ff_['menu_item'] = ca_ff_['menu_item'].str.replace(r'\s+', ' ', regex=True)
ca_ff_['restaurant_location'] = ca_ff_['restaurant_location'].astype('string')
ca_ff_['restaurant_rating'] = ca_ff_['restaurant_rating'].str.strip().astype(float)

In [8]:
#cleaning up string columns 

ca_ff_['menu_item'] = ca_ff_['menu_item'].str.lower()
ca_ff_['restaurant_location'] = ca_ff_['restaurant_location'].str.lower()
ca_ff_['restaurant_name'] = ca_ff_['restaurant_name'].str.replace('_', ' ')

#remove special characters
ca_ff_['menu_item'] = ca_ff_['menu_item'].apply(lambda x: ''.join(ch for ch in x if ch.isalnum() or ch.isspace()))
ca_ff_#cleaning up string columns 

ca_ff_['menu_item'] = ca_ff_['menu_item'].str.lower()
ca_ff_['restaurant_location'] = ca_ff_['restaurant_location'].str.lower()
ca_ff_['restaurant_name'] = ca_ff_['restaurant_name'].str.replace('_', ' ')

#remove special characters
ca_ff_['menu_item'] = ca_ff_['menu_item'].apply(lambda x: ''.join(ch for ch in x if ch.isalnum() or ch.isspace()))
ca_ff_['restaurant_name'].unique()

<StringArray>
[          "Gott's Roadside",              'Juicy Burger',
 "Nation's Giant Hamburgers",       'Super Duper Burgers']
Length: 4, dtype: string

In [9]:
def price_list(x):
    return list(x)

def mean_non_zero(x):
    return np.mean(x[x != 0]) if np.any(x != 0) else 0

def median_non_zero(x):
    return np.median(x[x != 0]) if np.any(x != 0) else 0

def std_non_zero(x):
    return np.std(x[x != 0]) if np.any(x != 0) else 0

In [10]:
#"Barney's Gourmet Hamburgers"

ca_ff_barneys = ca_ff_[ca_ff_['restaurant_name'] == "Barney's Gourmet Hamburgers"]

#First part of grouping 

agg_funcs = {
    'menu_item_price': [mean_non_zero, median_non_zero, std_non_zero],  # calculate the average, median, and standard dev PRICE
    'restaurant_rating': 'mean', # calculate the average RATING 
    'menu_item' : 'count',
    'number_of_ratings': 'first'
}

grouped_barneys = ca_ff_barneys.groupby(['restaurant_name','restaurant_location']).agg(agg_funcs).reset_index()
grouped_barneys.columns = [' '.join(col).strip() for col in grouped_barneys.columns.values]

In [11]:
#Second part of grouping 
barneys_lst = ['barneys burger','single steak fries']

# Filter rows where 'menu_item' contains any item in mcd_lst
menu_items_barneys = ca_ff_barneys[ca_ff_barneys['menu_item'].isin(barneys_lst)].sort_values('menu_item')
menu_items_barneys = menu_items_barneys.drop_duplicates(subset=['restaurant_name', 'restaurant_location', 'menu_item'])

grouped_barneys_2 = menu_items_barneys.groupby(['restaurant_name', 'restaurant_location'])['menu_item_price'].agg(price_list).reset_index()

grouped_barneys_2[['burger', 'fries']] = grouped_barneys_2['menu_item_price'].apply(pd.Series)
grouped_barneys_2.drop(columns=['menu_item_price'], inplace=True)

#Merging the grouped dfs together 
merged_barneys = pd.merge(grouped_barneys, grouped_barneys_2, on=['restaurant_name', 'restaurant_location'], how='inner')
merged_barneys['combo'] = np.nan
merged_barneys['specialty_item'] = np.nan
merged_barneys['cheeseburger'] = np.nan


merged_barneys

ValueError: Columns must be same length as key

In [12]:
#'Burger Lounge'

ca_ff_bl = ca_ff_[ca_ff_['restaurant_name'] == 'Burger Lounge']

#First part of grouping 

agg_funcs = {
    'menu_item_price': [mean_non_zero, median_non_zero, std_non_zero],  # calculate the average, median, and standard dev PRICE
    'restaurant_rating': 'mean', # calculate the average RATING 
    'menu_item' : 'count',
    'number_of_ratings': 'first'
}

grouped_bl = ca_ff_bl.groupby(['restaurant_name','restaurant_location']).agg(agg_funcs).reset_index()
grouped_bl.columns = [' '.join(col).strip() for col in grouped_bl.columns.values]

In [13]:
#Second part of grouping 
bl_lst = ['regular fries','the classic', ]

# Filter rows where 'menu_item' contains any item in mcd_lst
menu_items_bl = ca_ff_bl[ca_ff_bl['menu_item'].isin(bl_lst)].sort_values('menu_item')
menu_items_bl = menu_items_bl.drop_duplicates(subset=['restaurant_name', 'restaurant_location', 'menu_item'])

grouped_bl_2 = menu_items_bl.groupby(['restaurant_name', 'restaurant_location'])['menu_item_price'].agg(price_list).reset_index()

grouped_bl_2[['fries', 'cheeseburger']] = grouped_bl_2['menu_item_price'].apply(pd.Series)
grouped_bl_2.drop(columns=['menu_item_price'], inplace=True)

#Merging the grouped dfs together 
merged_bl = pd.merge(grouped_bl, grouped_bl_2, on=['restaurant_name', 'restaurant_location'], how='inner')
merged_bl['combo'] = np.nan
merged_bl['specialty_item'] = np.nan
merged_bl['hamburger'] = np.nan


merged_bl

ValueError: Columns must be same length as key

In [14]:
#'Roam Artisan Burgers'

ca_ff_roam = ca_ff_[ca_ff_['restaurant_name'] == 'Roam Artisan Burgers']

#First part of grouping 

agg_funcs = {
    'menu_item_price': [mean_non_zero, median_non_zero, std_non_zero],  # calculate the average, median, and standard dev PRICE
    'restaurant_rating': 'mean', # calculate the average RATING 
    'menu_item' : 'count',
    'number_of_ratings': 'first'
}

grouped_roam = ca_ff_roam.groupby(['restaurant_name','restaurant_location']).agg(agg_funcs).reset_index()
grouped_roam.columns = [' '.join(col).strip() for col in grouped_roam.columns.values]

In [15]:
#Second part of grouping 
roam_lst = ['russet fries', 'the classic burger' ]

# Filter rows where 'menu_item' contains any item in mcd_lst
menu_items_roam = ca_ff_roam[ca_ff_roam['menu_item'].isin(roam_lst)].sort_values('menu_item')
menu_items_roam = menu_items_roam.drop_duplicates(subset=['restaurant_name', 'restaurant_location', 'menu_item'])

grouped_roam_2 = menu_items_roam.groupby(['restaurant_name', 'restaurant_location'])['menu_item_price'].agg(price_list).reset_index()

grouped_roam_2[['fries', 'hamburger']] = grouped_roam_2['menu_item_price'].apply(pd.Series)
grouped_roam_2.drop(columns=['menu_item_price'], inplace=True)

#Merging the grouped dfs together 
merged_roam = pd.merge(grouped_roam, grouped_roam_2, on=['restaurant_name', 'restaurant_location'], how='inner')
merged_roam['combo'] = np.nan
merged_roam['specialty_item'] = np.nan
merged_roam['cheeseburger'] = np.nan


merged_roam

ValueError: Columns must be same length as key

In [16]:
#'Super Duper Burgers'

ca_ff_super = ca_ff_[ca_ff_['restaurant_name'] == 'Super Duper Burgers']

#First part of grouping 

agg_funcs = {
    'menu_item_price': [mean_non_zero, median_non_zero, std_non_zero],  # calculate the average, median, and standard dev PRICE
    'restaurant_rating': 'mean', # calculate the average RATING 
    'menu_item' : 'count',
    'number_of_ratings': 'first'
}

grouped_super = ca_ff_super.groupby(['restaurant_name','restaurant_location']).agg(agg_funcs).reset_index()
grouped_super.columns = [' '.join(col).strip() for col in grouped_super.columns.values]

In [17]:
#Second part of grouping 
super_lst = ['french fries', 'super burger' ]

# Filter rows where 'menu_item' contains any item in mcd_lst
menu_items_super = ca_ff_super[ca_ff_super['menu_item'].isin(super_lst)].sort_values('menu_item')
menu_items_super = menu_items_super.drop_duplicates(subset=['restaurant_name', 'restaurant_location', 'menu_item'])

grouped_super_2 = menu_items_super.groupby(['restaurant_name', 'restaurant_location'])['menu_item_price'].agg(price_list).reset_index()

grouped_super_2[['fries', 'hamburger']] = grouped_super_2['menu_item_price'].apply(pd.Series)
grouped_super_2.drop(columns=['menu_item_price'], inplace=True)

#Merging the grouped dfs together 
merged_super = pd.merge(grouped_super, grouped_super_2, on=['restaurant_name', 'restaurant_location'], how='inner')
merged_super['combo'] = np.nan
merged_super['specialty_item'] = np.nan
merged_super['cheeseburger'] = np.nan

merged_super

,restaurant_name,restaurant_location,menu_item_price mean_non_zero,menu_item_price median_non_zero,menu_item_price std_non_zero,restaurant_rating mean,menu_item count,number_of_ratings first,fries,hamburger,combo,specialty_item,cheeseburger
0,Super Duper Burgers,"2201 chestnut street, san francisco, ca, 94123...",7.464286,7.25,3.247055,4.7,14,500+,4.0,10.5,NaN,NaN,NaN
1,Super Duper Burgers,"2355 telegraph avenue, berkeley, ca, 94704, us",7.941176,8.50,3.181437,4.6,17,500+,4.0,10.5,NaN,NaN,NaN
2,Super Duper Burgers,"783 mission st, san francisco, ca, 94103, us",7.464286,7.25,3.247055,4.7,14,800+,4.0,10.5,NaN,NaN,NaN

In [18]:
#'Juicy Burger'

ca_ff_juicy = ca_ff_[ca_ff_['restaurant_name'] == 'Juicy Burger']

#First part of grouping 

agg_funcs = {
    'menu_item_price': [mean_non_zero, median_non_zero, std_non_zero],  # calculate the average, median, and standard dev PRICE
    'restaurant_rating': 'mean', # calculate the average RATING 
    'menu_item' : 'count',
    'number_of_ratings': 'first'
}

grouped_juicy = ca_ff_juicy.groupby(['restaurant_name','restaurant_location']).agg(agg_funcs).reset_index()
grouped_juicy.columns = [' '.join(col).strip() for col in grouped_juicy.columns.values]

In [19]:
ca_ff_juicy['menu_item'].value_counts().head(40)

lamb mendi لحم مندي            1
bacon cheeseburger             1
corn dog                       1
5 pc nuggets                   1
hamburger                      1
corn dogs                      1
grilled cheese                 1
hot dog                        1
avocado burger                 1
juicy pineapple burger         1
pastrami sandwich              1
philly cheesesteak             1
fish burger                    1
cali grilled chicken burger    1
spicy chicken burger           1
veggie burger                  1
pastramiburger                 1
burrito                        1
chili cheese dog               1
fries                          1
large fries                    1
twister                        1
sundae                         1
banana split                   1
floats                         1
shakes                         1
pepsi                          1
large chili fries              1
curly fries                    1
fried zucchini                 1
cheese sticks                  1
mushroom                       1
jalapeño poppers               1
onion rings                    1
chili cheese fries             1
double bacon cheeseburger      1
double cheeseburger            1
lamb haneeth لحم حنيذ          1
cheeseburger                   1
crispy chicken salad           1
Name: menu_item, dtype: int64

In [20]:
#Second part of grouping 
juicy_lst = ['cheeseburger', 'fries', 'hamburger']

# Filter rows where 'menu_item' contains any item in mcd_lst
menu_items_juicy = ca_ff_juicy[ca_ff_juicy['menu_item'].isin(juicy_lst)].sort_values('menu_item')
menu_items_juicy = menu_items_juicy.drop_duplicates(subset=['restaurant_name', 'restaurant_location', 'menu_item'])

grouped_juicy_2 = menu_items_juicy.groupby(['restaurant_name', 'restaurant_location'])['menu_item_price'].agg(price_list).reset_index()

grouped_juicy_2[['cheeseburger', 'fries', 'hamburger']] = grouped_juicy_2['menu_item_price'].apply(pd.Series)
grouped_juicy_2.drop(columns=['menu_item_price'], inplace=True)

#Merging the grouped dfs together 
merged_juicy = pd.merge(grouped_juicy, grouped_juicy_2, on=['restaurant_name', 'restaurant_location'], how='inner')
merged_juicy['combo'] = np.nan
merged_juicy['specialty_item'] = np.nan
#merged_juicy['hamburger'] = np.nan
#merged_juicy['fries'] = np.nan


merged_juicy

,restaurant_name,restaurant_location,menu_item_price mean_non_zero,menu_item_price median_non_zero,menu_item_price std_non_zero,restaurant_rating mean,menu_item count,number_of_ratings first,cheeseburger,fries,hamburger,combo,specialty_item
0,Juicy Burger,"3720 east olive avenue, fresno, ca, 93702, us",8.56137,7.99,4.790327,0.0,73,None,5.49,2.99,6.99,NaN,NaN

In [21]:
#'Golden Burger'

ca_ff_golden = ca_ff_[ca_ff_['restaurant_name'] == 'Golden Burger']

#First part of grouping 

agg_funcs = {
    'menu_item_price': [mean_non_zero, median_non_zero, std_non_zero],  # calculate the average, median, and standard dev PRICE
    'restaurant_rating': 'mean', # calculate the average RATING 
    'menu_item' : 'count',
    'number_of_ratings': 'first'
}

grouped_golden = ca_ff_golden.groupby(['restaurant_name','restaurant_location']).agg(agg_funcs).reset_index()
grouped_golden.columns = [' '.join(col).strip() for col in grouped_golden.columns.values]

In [22]:
#Second part of grouping 
golden_lst = ['cheeseburger', 'french fries', 'hamburger']

# Filter rows where 'menu_item' contains any item in mcd_lst
menu_items_golden = ca_ff_golden[ca_ff_golden['menu_item'].isin(golden_lst)].sort_values('menu_item')
menu_items_golden = menu_items_golden.drop_duplicates(subset=['restaurant_name', 'restaurant_location', 'menu_item'])

grouped_golden_2 = menu_items_golden.groupby(['restaurant_name', 'restaurant_location'])['menu_item_price'].agg(price_list).reset_index()

grouped_golden_2[['cheeseburger', 'fries', 'hamburger']] = grouped_golden_2['menu_item_price'].apply(pd.Series)
grouped_golden_2.drop(columns=['menu_item_price'], inplace=True)

#Merging the grouped dfs together 
merged_golden = pd.merge(grouped_golden, grouped_golden_2, on=['restaurant_name', 'restaurant_location'], how='inner')
merged_golden['combo'] = np.nan
merged_golden['specialty_item'] = np.nan


merged_golden

ValueError: Columns must be same length as key

In [23]:
#"Gott's Roadside"

ca_ff_gotts = ca_ff_[ca_ff_['restaurant_name'] == "Gott's Roadside"]

#First part of grouping 

agg_funcs = {
    'menu_item_price': [mean_non_zero, median_non_zero, std_non_zero],  # calculate the average, median, and standard dev PRICE
    'restaurant_rating': 'mean', # calculate the average RATING 
    'menu_item' : 'count',
    'number_of_ratings': 'first'
}

grouped_gotts = ca_ff_gotts.groupby(['restaurant_name','restaurant_location']).agg(agg_funcs).reset_index()
grouped_gotts.columns = [' '.join(col).strip() for col in grouped_gotts.columns.values]

In [26]:
#Second part of grouping 
gotts_lst = ['cheeseburger', 'fries', 'hamburger']

# Filter rows where 'menu_item' contains any item in mcd_lst
menu_items_gotts = ca_ff_gotts[ca_ff_gotts['menu_item'].isin(gotts_lst)].sort_values('menu_item')
menu_items_gotts = menu_items_gotts.drop_duplicates(subset=['restaurant_name', 'restaurant_location', 'menu_item'])

grouped_gotts_2 = menu_items_gotts.groupby(['restaurant_name', 'restaurant_location'])['menu_item_price'].agg(price_list).reset_index()

grouped_gotts_2[['cheeseburger', 'fries', 'hamburger']] = grouped_gotts_2['menu_item_price'].apply(pd.Series)
grouped_gotts_2.drop(columns=['menu_item_price'], inplace=True)

#Merging the grouped dfs together 
merged_gotts = pd.merge(grouped_gotts, grouped_gotts_2, on=['restaurant_name', 'restaurant_location'], how='inner')
merged_gotts['combo'] = np.nan
merged_gotts['specialty_item'] = np.nan


merged_gotts

,restaurant_name,restaurant_location,menu_item_price mean_non_zero,menu_item_price median_non_zero,menu_item_price std_non_zero,restaurant_rating mean,menu_item count,number_of_ratings first,cheeseburger,fries,hamburger,combo,specialty_item
0,Gott's Roadside,"1 ferry building, san francisco, ca, 94111, us",17.974841,14.99,14.590102,4.8,150,4,11.99,4.99,10.99,NaN,NaN
1,Gott's Roadside,"1275 south main street, walnut creek, ca, 9459...",18.339925,14.99,15.452556,4.6,158,300+,11.99,4.99,10.99,NaN,NaN

In [27]:
#"Nation's Giant Hamburgers"

ca_ff_nations = ca_ff_[ca_ff_['restaurant_name'] == "Nation's Giant Hamburgers"]

#First part of grouping 

agg_funcs = {
    'menu_item_price': [mean_non_zero, median_non_zero, std_non_zero],  # calculate the average, median, and standard dev PRICE
    'restaurant_rating': 'mean', # calculate the average RATING 
    'menu_item' : 'count',
    'number_of_ratings': 'first'
}

grouped_nations = ca_ff_nations.groupby(['restaurant_name','restaurant_location']).agg(agg_funcs).reset_index()
grouped_nations.columns = [' '.join(col).strip() for col in grouped_nations.columns.values]

In [28]:
#Second part of grouping 
nations_lst = ['cheeseburger', 'french fries', 'hamburger']

# Filter rows where 'menu_item' contains any item in mcd_lst
menu_items_nations = ca_ff_nations[ca_ff_nations['menu_item'].isin(nations_lst)].sort_values('menu_item')
menu_items_nations = menu_items_nations.drop_duplicates(subset=['restaurant_name', 'restaurant_location', 'menu_item'])

grouped_nations_2 = menu_items_nations.groupby(['restaurant_name', 'restaurant_location'])['menu_item_price'].agg(price_list).reset_index()

grouped_nations_2[['cheeseburger', 'fries', 'hamburger']] = grouped_nations_2['menu_item_price'].apply(pd.Series)
grouped_nations_2.drop(columns=['menu_item_price'], inplace=True)

#Merging the grouped dfs together 
merged_nations = pd.merge(grouped_nations, grouped_nations_2, on=['restaurant_name', 'restaurant_location'], how='inner')
merged_nations['combo'] = np.nan
merged_nations['specialty_item'] = np.nan


merged_nations

,restaurant_name,restaurant_location,menu_item_price mean_non_zero,menu_item_price median_non_zero,menu_item_price std_non_zero,restaurant_rating mean,menu_item count,number_of_ratings first,cheeseburger,fries,hamburger,combo,specialty_item
0,Nation's Giant Hamburgers,"100 browns valley pkwy, vacaville, ca, 95688, us",12.205505,10.55,6.190253,4.4,113,470+,11.4,4.25,9.3,NaN,NaN
1,Nation's Giant Hamburgers,"1424 first st, livermore, ca, 94550, us",12.081019,10.55,6.173220,4.8,112,370+,11.4,4.25,9.3,NaN,NaN
2,Nation's Giant Hamburgers,"16396, san pablo, ca, 94806, us",12.304945,10.55,6.438121,4.7,95,500+,11.4,4.25,9.3,NaN,NaN
3,Nation's Giant Hamburgers,"1800 university ave, berkeley, ca, 94703, us",12.166818,10.55,6.175274,4.8,114,1,11.4,4.25,9.3,NaN,NaN
4,Nation's Giant Hamburgers,"1900 contra costa blvd, pleasant hill, ca, 945...",12.204128,10.55,6.191182,4.5,113,900+,11.4,4.25,9.3,NaN,NaN
5,Nation's Giant Hamburgers,"191 military e, benicia, ca, 94510, us",12.166818,10.55,6.175274,4.7,114,500+,11.4,4.25,9.3,NaN,NaN
6,Nation's Giant Hamburgers,"317 broadway, oakland, ca, 94607, us",12.166818,10.55,6.175274,4.5,114,1,11.4,4.25,9.3,NaN,NaN
7,Nation's Giant Hamburgers,"3530 truxel road, sacramento, ca, 95834, us",12.166818,10.55,6.175274,4.5,114,800+,11.4,4.25,9.3,NaN,NaN
8,Nation's Giant Hamburgers,"3789 railroad ave, pittsburg, ca, 94565, us",12.304945,10.55,6.438121,4.7,95,600+,11.4,4.25,9.3,NaN,NaN
9,Nation's Giant Hamburgers,"400 park st, moraga, ca, 94556, us",13.003271,11.40,6.689500,4.7,111,230+,12.2,4.60,10.0,NaN,NaN
10,Nation's Giant Hamburgers,"5321 hopyard rd, pleasanton, ca, 94588, us",11.901531,10.55,6.136207,4.7,102,600+,11.4,4.25,9.3,NaN,NaN
11,Nation's Giant Hamburgers,"5450 sunrise blvd, citrus heights, ca, 95610, us",12.166818,10.55,6.175274,4.5,114,470+,11.4,4.25,9.3,NaN,NaN

In [30]:
#Stack all restaurants
ubereats_fflocal_prices = pd.concat([merged_super, merged_juicy,merged_gotts, merged_nations]).reset_index(drop=True)

In [31]:
pattern = r",\s*([a-zA-Z]{2})\s*,?\s*(\d{5}(?:-\d{4})?)"

def extract_state_zip(address):
    match = re.search(pattern, address)
    if match:
        state, zip_code = match.groups()
        return state, zip_code
    else:
        return None, None

# Apply the function to extract state and zip code
ubereats_fflocal_prices[['state', 'zip']] = ubereats_fflocal_prices['restaurant_location'].apply(lambda x: pd.Series(extract_state_zip(x)))
ubereats_fflocal_prices['zip'] = ubereats_fflocal_prices['zip'].str.split('-').str[0].astype(int)

#Get county 
ubereats_fflocal_prices = ubereats_fflocal_prices.merge(ca_zip_count, on = 'zip')

In [111]:
specific_date = datetime.strptime('06102024', '%m%d%Y')
# Assign the datetime object to the entire 'date' column
ubereats_fflocal_prices['date'] = specific_date
ubereats_fflocal_prices['uber_eats'] = 1
ubereats_fflocal_prices['post_policy'] = 1
ubereats_fflocal_prices['fast_food'] = 1
ubereats_fflocal_prices['local'] = 1

In [32]:
#Save as csv 
ubereats_fflocal_prices.to_csv('missing_processed_smallff_06102024', index = True)